@charset "urf-8";
@import url('common.css');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.red-hat-display {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* 프리텐다드 폰트  */

@font-face {
  font-family: 'Pretendard-Light';
  src: url('../css/font/Pretendard/Pretendard-Light.eot');
  src: url('../css/font/Pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
      url('../css/font/Pretendard/Pretendard-Light.woff2') format('woff2'),
      url('../css/font/Pretendard/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../css/font/Pretendard/Pretendard-Regular.eot');
  src: url('../css/font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
      url('../css/font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
      url('../css/font/Pretendard/Pretendard-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../css/font/Pretendard/Pretendard-Medium.eot');
  src: url('../css/font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
      url('../css/font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
      url('../css/font/Pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../css/font/Pretendard/Pretendard-SemiBold.eot');
  src: url('../css/font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../css/font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
      url('../css/font/Pretendard/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../css/font/Pretendard/Pretendard-Bold.eot');
  src: url('../css/font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
      url('../css/font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
      url('../css/font/Pretendard/Pretendard-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('../css/font/Pretendard/Pretendard-ExtraBold.eot');
  src: url('../css/font/Pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../css/font/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
      url('../css/font/Pretendard/Pretendard-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('../css/font/Pretendard/Pretendard-Black.eot');
  src: url('../css/font/Pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
      url('../css/font/Pretendard/Pretendard-Black.woff2') format('woff2'),
      url('../css/font/Pretendard/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



/* 글꼴 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}


/* 헤더 */

.backdrop{
  display: none;
}

.header{
  width: 100%;
  background-color: #11111180;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.5s;
}

.header.active{
  background-color: #111;
}

.header .mobile{
  display: none;
}

.header .inner{
  max-width: 1600px;
  width: calc(100% - 4rem);
  height: 8rem;
  margin: 0 auto;

}

.header .inner .close{
  display: none;
}

.header .inner .header_pc{
  display: flex;
  justify-content: space-between;
  height: 8rem;
  align-items: center;
}

/* 로고 */

.header .inner .header_pc .logo{
  height: 8rem;
  line-height: 8rem;
}

.header .inner .header_pc .logo a{
  height: 8rem;
  line-height: 8rem;
  display: block;
  padding: 20px 0;
}

.header .inner .header_pc .logo a img{
  width: 100%;
  display: block;

}

/* nav pc 시작 */

.header .inner .header_pc .nav_pc .gnb{
  display: flex;
  height: 8rem;
  align-items: center;
  text-align: center;
  
}

.header .inner .header_pc .nav_pc .gnb > li{
  padding: 0 4.4rem;
}

.header .inner .header_pc .nav_pc .gnb > li .depth01{
  height: 8rem;
  line-height: 8rem;
  color: #fff;
}


.header .inner .header_pc .nav_pc .gnb > li .depth01:hover {
  font-family: 'Pretendard-Bold';
}

.header .inner .header_pc .nav_pc .gnb > li .depth02_wrap {
  position: absolute;
  top: 8rem;
  left: 0;
  color: #fff;
  width: 100%;
  padding-top: 57px;
  height: 357px;
  display: none;
  z-index: 98;
}

.header .inner .header_pc .nav_pc .gnb > li .depth02_wrap .depth02{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}


.header .inner .header_pc .nav_pc .gnb > li .depth02_wrap .depth02 li{
  margin-bottom: 4.8rem;
  font-size: 2rem;
}

/* utill */

.header .inner .header_pc .utill_pc {
  display: flex;
}

.header .inner .header_pc .utill_pc li{
  padding: 0 25px;
}

.header .inner .header_pc .utill_pc .search .search_wrap{
  position: absolute;
  top: 8rem;
  left: 50%;
  padding-top: 11.7rem;
  height: 35.7rem;
  z-index: 96;
  width: 100%;
  transform: translatex(-50%);
  text-align: center;
  display: none;
  background-color: #111;
  
}


.header .inner .header_pc .utill_pc .search .search_wrap input{
  border: none;
  background-color:transparent;
  border-bottom: #ffffff20 solid 1px;
  width: 79rem;
  font-family: 'Pretendard-Regular';
  font-size: 2.1rem;
  letter-spacing: 0.8rem;
  padding-left: 5rem;
  padding-bottom: 1rem;
  color: #ffffff50;
}

.header .inner .header_pc .utill_pc .search .search_wrap input:focus{
  outline: none;
}

.header .inner .header_pc .utill_pc .search .search_wrap::before{
  content: '';
  background: url(../img/헤더/MagnifyingGlass.svg) center center / 100% no-repeat ;
  filter: opacity(50%);
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  position: absolute;
  text-align: center;
}




/* bg */

.header .bg{
  width: 100%;
  height: 357px;
  padding-top: 5.7rem;
  background-color: #111;
  position: absolute;
  top: 8rem;
  z-index: 95;
  display: none;
}

.header .bg span{
  position: absolute;
  left: -99999px;
}


/* 메인비주얼 */

.main_visual .swiper-slide{
  width: 100%;
  height: 100vh;
}

.main_visual .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.main_visual .swiper-slide video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* 베스트 아이템 */

.best{
  width: 100%;
}

.best .title{
  position: relative;
  left: -5rem;
}

.best .inner .best_wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
}


.best .inner .best_wrap .best_item{
  width: 100%;
  height: 66.2rem;
}

.best .inner .best_wrap .best_item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
  display: block;
}

.best .inner .best_wrap .best_item .item_text{
  position: absolute;
  top: 6.9rem;
  right: 8.6rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: end;
}


.best .inner .best_wrap .best_item .item_text .item_bottom_text{
  margin-top: 31.7rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.best .inner .best_wrap .best_item .item_text .item_bottom_text .item_title{
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.best .inner .best_wrap .best_item .item_text .item_bottom_text a:hover,
.best .inner .best_wrap .best_item:nth-child(3) .item_text a:hover{
 background-color: #FFDD00;
}

.best .inner .best_wrap .best_item:nth-child(2) .item_text,
.best .inner .best_wrap .best_item:nth-child(3) .item_text{
  right: auto;
  left: 8.6rem;
  text-align: start;
}

.best .inner .best_wrap .best_item:nth-child(2) .item_text .item_bottom_text{
  align-items: start;
}


.best .inner .best_wrap .best_item:nth-child(3) .item_text .item_name{
  margin-top: 10rem;
  margin-bottom: 20rem;
}

/* best item sticky */

.best .inner .best_wrap > div{
  position: sticky;
  /* background-color: #FFDD00; */
}

.best .inner .best_wrap > div:nth-child(1){
    z-index: 2;
    bottom: 20rem;
    margin-top: -7rem;
    margin-bottom: 1.5rem;
}

.best .inner .best_wrap > div:nth-child(2){
    z-index: 1;
    bottom: 14rem;
    margin-top: -2rem;
    margin-bottom: 1.5rem;
}

.best .inner .best_wrap > div:nth-child(3){
    bottom: 9rem;
    margin-bottom: 5rem;
}


.best .inner .best_wrap > div::after{
  content: '';
  padding-bottom: 9rem;
  display: block;
}


/* 베스트 more */

.best_more{
  width: 100%;
  margin-top: 120rem;
}

.best_more .more_wrap{
  width: 100%;
  max-width: 1600px;
  width: calc(100% - 4rem);
  height: 66.2rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


.best_more .more_wrap .more_item{
  width: 32.5%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
}

.best_more .more_wrap .more_item img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: 0.7s;
}

.best_more .more_wrap .more_item img:hover{
  transform: scale(1.1);
}

/* 더 다양한 베스트 제품들 (아이템 1) */

.best_more .more_wrap .more_item:first-child{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.best_more .more_wrap .more_item:first-child .more_text p{
  font-size: 5.1rem;
  color: #111;
  letter-spacing: 0.8rem;
}

.best_more .more_wrap .more_item:first-child .more_text .more_top{
  display: flex;
  justify-content: center;
}

.best_more .more_wrap .more_item:first-child .more_text .best_more_title{
  font-family: 'Pretendard-Bold';
}

.best_more .more_wrap .more_item:first-child .more_text .more_top .more_after{
  position: relative;
  padding-right: 100px;
}

.best_more .more_wrap .more_item:first-child .more_text .more_top .more_after::after{
  content: '';
  width: 30%;
  height: 0.2rem;
  margin-bottom: 1.7rem;
  display: inline-block;
  background-color: #111;
  position: absolute;
  top: 50%;
  left: 50%;
}


/* 베스트 more 텍스트부분 */

.best_more .more_wrap .more_item .more_text{
  position: absolute;
  top: 4.2rem;
  left: 0;
  color: #fff;
  text-align: center;
  width: 100%;
}

.best_more .more_wrap .more_item:first-child .more_text{
  top: 11.2rem;
  line-height: 1.3;
}


.best_more .more_wrap .more_item .more_text .more_sub{
  filter: opacity(50%);
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
  font-family: 'Pretendard-Medium';
}

.best_more .more_wrap .more_item .more_text .more_title{
  font-family: "Red Hat Display", serif;
  font-weight: 700;
  font-size: 2.7rem;
}



/* z6 sticky 부분 */

.new_camera{
  max-width: 1600px;
  width: calc(100% - 4rem);
  margin: 26.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.camera_background.active{
  transition: 0.5s;
  background-color: #111;
  padding: 8rem 0;
}

.new_camera .Z6{
  width: 46.62%;

  text-align: center;
  line-height: 1.3;
  position: sticky;
  position: -webkit-sticky; /* Safari */ 
  min-height: 50rem;
  top: 10rem;
  left: 0;
}

/* z6 카메라 사진 부분 스타일 */

.new_camera .Z6 .new{
  font-family: "Red Hat Display", serif;
  color: #a7a9ac83;
  font-size: 1.7rem;
  letter-spacing: 0.8rem;
  margin-bottom: 1.5rem;
}

.new_camera .Z6 .new_sub{
  letter-spacing: 1rem;
  color: #a7a9ac83;
  font-family: 'Pretendard-SemiBold';
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.new_camera .Z6 .new_title{
  font-family: "Red Hat Display", serif;
  font-weight: 900;
  font-size: 18rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(360deg, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

.new_camera .Z6 img{
  margin-top: -13.5rem;
  width: 100%;
  object-fit: cover;
  display: block;
}


/* Z6_more 크기 지정 및 스타일 */

.new_camera .Z6_more{
  width: 40.81%;
}

.new_camera .Z6_more .Z6_more_text{
  font-size: 2rem;
  font-family: 'Pretendard-Bold';
  text-align: center;
  color: #A7A9AC;
  margin-bottom: 7rem;
}


.new_camera .Z6_more .Z6_more_wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.new_camera .Z6_more .Z6_more_wrap .Z6_more_item {
  position: relative;
  width: 100%;
  height: 32.6rem;
  margin-bottom: 5rem;
}

.new_camera .Z6_more .Z6_more_wrap .Z6_more_item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5rem;
  /* filter: brightness(0.88); */
}

.new_camera .Z6_more .Z6_more_wrap .Z6_more_item .Z6_item_text{
  color: #fff;
  position: absolute;
  /* top: 17.6rem;
  left: 7.3rem; */
  width: 100%;
  font-size: 2rem;
  line-height: 1.3;
  font-family: 'Pretendard-Medium';
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.493) 0%, rgba(255,255,255,0) 100%);
  bottom: 0;
  left: 0;
  padding-left: 7.3rem;
  padding-bottom: 3.9rem;
  border-radius: 5rem;
}

.new_camera .Z6_more .Z6_more_wrap .Z6_more_item .Z6_item_text svg{
  margin-bottom: 2rem;
}


/* lut */

.lut{
  background-color: #111;
  padding-bottom: 16rem;
}

.lut_inner{
  max-width: 1600px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.lut_inner .lut_text{
  color: #A7A9AC;
}

.lut_inner .lut_text .lut_new{
  font-family: "Red Hat Display", serif;
  letter-spacing: 0.8rem;
  font-weight: 600;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.lut_inner .lut_text .lut_title1,
.lut_inner .lut_text .lut_title2
{
  font-family: 'Pretendard-Bold';
  color: #fff;
  font-size: 8rem;
  line-height: 1.3;
}

.lut_inner .lut_text .lut_title2{
  background: rgb(255,221,0);
  background: linear-gradient(90deg, rgba(255,221,0,1) 0%, rgba(255,150,72,1) 31%, rgba(255,90,133,1) 63%, rgba(49,105,190,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 30%;
}

.lut_inner .lut_text .lut_title3{
  font-family: 'Pretendard-SemiBold';
  font-size: 1.7rem;
  letter-spacing: 0.8rem;
  margin-top: 2.4rem;
  margin-bottom: 4.8rem;
}

.lut_inner video{
  width: 100%;
  display: block;
  object-fit: cover;
}


/* lut 스크립트 적용 이미지 부분 */

.lut_inner .lut_wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
  gap: 2rem;
}

.lut_inner .lut_wrap .lut_item{
  width: calc(100% / 4);
  height: 53.7rem;
  position: relative;
}


/* 이미지 디스플레이 none or block */

.lut_inner .lut_wrap .lut_item .lut_img img:first-child{
  display: block;
}

.lut_inner .lut_wrap .lut_item .lut_img img:nth-child(2){
  display: none;
}

.lut_inner .lut_wrap .lut_item.active .lut_img img:first-child{
  display: none;
}

.lut_inner .lut_wrap .lut_item.active .lut_img img:nth-child(2){
  display: block;
}

.lut_inner .lut_wrap .lut_item{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lut_inner .lut_wrap .lut_item .lut_img{
  width: 100%;
  height: 100%;

}


.lut_inner .lut_wrap .lut_item .lut_item_text{
  position: absolute;
  top: 6rem;
  left: 7.3rem;
  color: #fff;
  
}

.lut_inner .lut_wrap .lut_item .lut_item_text{
  display: none;
}

.lut_inner .lut_wrap .lut_item.active .lut_item_text{
  display: block;
}


.lut_inner .lut_wrap .lut_item .lut_item_text .lut_item_title{
  font-family: "Red Hat Display", serif;
  letter-spacing: 0.8rem;
  font-weight: 900;
  font-size: 4rem;
}


.lut_inner .lut_wrap .lut_item .lut_item_text .lut_item_ex{
  font-family: 'Pretendard-SemiBold';
  font-size: 1.7rem;
  opacity: 50%;
  margin-top: 1.6rem;
}

.lut_inner .lut_wrap .lut_item .lut_img img{
  height: 100%;
}

.lut_inner a{
  width: 15rem;
  height: 5rem;
  display: block;
  text-align: center;
  background-color: #FFE600;
  line-height: 5rem;
  font-size: 1.6rem;
  font-family: 'Pretendard-SemiBold';
  margin: 0 auto;
  margin-top: 4.6rem;
  text-align: center;
  border-radius: 3rem;
}

/* 이벤트 */

.event .title{
  margin-top: 25.6rem;
  position: relative;
  left: -5rem;
}

.event .inner .event_top{
  margin-top: -8rem;
  display: flex;
  justify-content: space-between;
}

.event .inner .event_top .event_top_item:nth-child(1){
  width: 41.31%;
}

.event .inner .event_top .event_top_item:nth-child(2){
  width: 55.56%;
}

.event .inner .event_top .event_top_item:nth-child(1)>img,
.event .inner .event_top .event_top_item:nth-child(2)>img{
  width: 100%;
  object-fit: cover;
  display: block;
}


.event .inner .event_top .event_top_item .event_top_text {
  display: flex;
  justify-content: space-between;
  margin-top: 3.1rem;
  align-items: center;
}

.event .inner .event_top .event_top_item .event_top_text .event_name{
  font-family: 'Pretendard-Bold';
  font-size: 4.9rem;
  margin-bottom: 1.5rem;
}

.event .inner .event_top .event_top_item .event_top_text .event_sub{
  font-family: 'Pretendard-Regular';
  font-size: 1.4rem;
  color: #A7A9AC;
}

/* 이벤트 말줄임표 */
.event .inner .event_top .event_top_item:nth-child(2) .event_top_text .event_name{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/* 이벤트 더보기 버튼 */


.event .inner .event_top .event_top_item .event_top_text a{

  width: 9.2rem;
  height: 9.2rem;
  background-color: #d9d9d950;
  display: block;
  transition: 0.3s;
  line-height: 9.2rem;
}

.event .inner .event_top .event_top_item .event_top_text a img{
  width: 38.04%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.event .inner .event_top .event_top_item .event_top_text a:hover{
  background-color: #FFDD00;
  border-radius: 50%;
}

/* 이벤트 리스트 */

.event .inner .event_list{
  margin-top: 6.8rem;
  margin-bottom: 9.3rem;
}


.event .inner .event_list li{
  border-top: 1px solid #111;
}

.event .inner .event_list li:last-child{
  border-bottom: 1px solid #111;
}

.event .inner .event_list > li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #111;
  font-family: 'Pretendard-Bold';
  font-size: 4.9rem;
  padding: 2.6rem 0;
  transition: 0.5s;
  padding-left: 5.6rem;
  padding-right: 3rem;
}

.event .inner .event_list > li:hover{
  background-color: #111;
  color: #fff;
}

.event .inner .event_list > li:hover svg path{
  fill: #fff;
}


.nikon_school{
  width: 100%;
  height: 38.1rem;
  position: relative;
}

.nikon_school img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.5);
}

.nikon_school .nikon_school_text{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.nikon_school .nikon_school_text .school_sub_title{
  color: #ffffff70;
  font-family: 'Pretendard-Medium';
  font-size: 1.6rem;
  margin-bottom: 1rem;
}


.nikon_school .nikon_school_text .school_title{
  font-family: "Red Hat Display", serif;
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.nikon_school .nikon_school_text a{
  display: inline-block;
  background-color: #FFE600;
  width: 15rem;
  height: 5rem;
  line-height: 5rem;
  color: #111;
  border-radius: 3rem;
  text-align: center;
  font-family: 'Pretendard-SemiBold';
}


/* footer */

.footer{
  width: 100%;
  background-color: #F1F2F2;
  color: #A7A9AC;
  padding: 8rem 0;
}

.footer .inner .footer_top{
  display: flex;
  justify-content: space-between;
}

/* 푸터 메뉴 */

.footer .inner .footer_top .footer_menu_list{
  display: flex;

}

.footer .inner .footer_top .footer_menu_list > li a{
  text-align: start;
  color: #333;
  font-size: 1.8rem;
  font-family: 'Pretendard-Bold';
  padding-right: 7.2rem;
  margin-bottom: 3.2rem;
  display: block;
}

.footer .inner .footer_top .footer_menu_list > li > ul li{
  width: 100%;
  font-family: 'Pretendard-Medium';
  font-size: 1.8rem;
  margin-bottom: 2.1rem;
}



/* sns */

.footer .inner .footer_top .sns{
  display: flex;
  text-align: center;
  gap: 5.1rem;

}

/* footer bottom */

.footer_bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_bottom .footer_bottom_l .footer_logo {
  width: 27.9rem;
  height: 2.8rem;
  display: block;
  margin-top: 10rem;
}


.footer_bottom .footer_bottom_l .footer_logo img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.footer_bottom .footer_bottom_l .footer_text{
  color: #494949;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
  
}

.footer_bottom .footer_bottom_l .footer_text p::after{
  content: '';
  width: 1px;
  height: 7px;
  display: inline-block;
  background-color: #999999;
  margin: 0 1.2rem;
}

.footer_bottom .footer_bottom_l .footer_text p:last-child:after{
  content: '';
  display: none;
}

.footer_bottom .footer_bottom_l .footer_text_2{
  font-family: 'Pretendard-Light';
  color: #666;
  line-height: 1.2;
  font-size: 1.1rem;
}

.footer_bottom .footer_bottom_l .footer_text_2 p:last-child{
  margin-top: 2rem;
}

.footer_bottom  .footer_bottom_r{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer_bottom  .footer_bottom_r select{
  width: 19rem;
  height: 4rem;
  outline: none;
  border: 1px solid #eee;
  padding: 0 1rem ;
  background-color: #fff;
  font-family: 'Pretendard-Regular';
  -webkit-appearance: none;  /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none;  /* 화살표 없애기 */
}

.footer_bottom  .footer_bottom_r select option{
  background-color: #fff;
  color: #333;
}

.footer_bottom  .footer_bottom_r .family_site{
  background: url('../img/footer/CaretDown.svg')no-repeat 95% 50%;
}

.footer_bottom  .footer_bottom_r img{
  width: 18.9rem;
  height: 6rem;
  object-fit: cover;
  display: block;
  margin-top: 1rem;
  
}









/* 미디어 쿼리 헤더 가로크기 줄이기 */
@media screen and (max-width:1530px){

  .header{
    font-size: 1.4rem;
  }
}

/* 미디어쿼리 헤더 모바일 버전으로 변경 */

@media screen and (max-width:1480px){

  .backdrop.on{

    background: rgba( 3, 0, 0, 0.3 );
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
  }

  /* 모바일 헤더 디스플레이 */
  .header .pc{
    display: none;
  }

  .header .inner .header_pc .utill_pc{
    display: none;
  }

  .header .mobile{
    display: block;
  }

  .header{
    display: flex;

    justify-content: space-between;
  }


  .header .inner .close {
    position: absolute;
    top: 1.4rem;
    right: 52%;
    z-index: 102;
  }


  /* 모바일 헤더 스타일 설정 */

  .header .inner .nav_tm{
    background-color: #111;
    position: fixed;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100vh;
    text-align: start;
    padding-top: 5.4rem;
    padding-left: 5.6rem;
    padding-right: 5.6rem;
    color: #fff;
    z-index: 101;

    /* 세로 스크롤 */
    overflow: auto;
    -ms-overflow-style: none;
  }

  .header .inner .nav_tm::-webkit-scrollbar{
    display: none;
  }



  .header .inner .utill_mobile{
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }

  /* 모바일 메뉴 상하 간격설정 */

  .header .inner .nav_tm .gnb > li {
    margin-bottom: 7.1rem;
  }

  .header .inner .nav_tm .gnb > li .depth02 > li{
    margin-top: 5.3rem;
    font-size: 1.8rem;
  }


  .header .inner .nav_tm .gnb > li .depth01{
    font-size: 2rem;
    font-family: 'Pretendard-SemiBold';
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .inner .nav_tm .gnb > li .depth02{
    display: none;
  }

  /* 모바일 메뉴 우측 가상선택자 아이콘 설정 */

  .header .inner .nav_tm .gnb > li .depth01::after{
    content: '';
    background: url('../img/헤더/CaretDown.svg')center center / contain no-repeat;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: relative;
  
    top: 0;
    left: 0;
  }

  .header .inner .nav_tm .gnb > li .depth01.active::after{
    content: '';
    background: url('../img/헤더/CaretUp.svg')center center / contain no-repeat;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
  }


  /* 모바일 헤더 e shop */

  .header .inner .nav_tm .gnb > li .depth01:last-child{
    display: block;
  }

  .header .inner .nav_tm .gnb > li .depth01:last-child::after{
    content: '';
    background: url('../img/헤더/ArrowSquareOut.svg')center center / contain no-repeat;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    position: relative;
    top: -1rem;
    left: 0;
  }


  /* 모바일 헤더 유틸 유저 / 글로벌 */

  .header .inner .nav_tm .gnb .mobile_in_utill{
    display: flex;
    gap: 2.6rem;
    justify-content: flex-end;
    margin-top: -9.5rem;
  }


  /* 모바일 검색창 */

  .header .inner .header_pc .utill_mobile .search_m .search_wrap_m{
    position: absolute;
    top: 8rem;
    left: 50%;
    padding-top: 11.7rem;
    height: 35.7rem;
    z-index: 96;
    width: 100%;
    transform: translatex(-50%);
    text-align: center;
    display: none;
    background-color: #111;
    
  }
  
   
  .header .inner .header_pc .utill_mobile .search_m .search_wrap_m input{
    border: none;
    background-color:transparent;
    border-bottom: #ffffff20 solid 1px;
    width: 50rem;
    font-family: 'Pretendard-Regular';
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
    color: #ffffff50;
  }
  
  .header .inner .header_pc .utill_mobile .search_m .search_wrap_m input:focus{
    outline: none;
  }
  
  .header .inner .header_pc .utill_mobile .search_m .search_wrap_m::before{
    content: '';
    background: url(../img/헤더/MagnifyingGlass.svg) center center / 100% no-repeat ;
    filter: opacity(50%);
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    position: absolute;
    text-align: center;
  } 



}











